* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    margin-bottom: 90px;
    width: 100%;
    height: auto;
    background-color: white;
}

.intro_account {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    height: 45px;
    padding-top: 10px;
}

form {
    font-weight: bold;
    font-family: sans-serif;
    text-align: justify;
    text-align: center;
    padding-bottom: 15px;
}

label,
input {
    display: flexbox;
    text-align: center;
    width: 25%;
    box-sizing: content-box;
    margin-left: 15px;
}