* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    margin-bottom: 90px;
    width: 100%;
    height: auto;
    background-color: white;
}

.connexion {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
    height: 45px;
    padding-top: 10px;
}

form {
    font-family: sans-serif;
    padding: 15px 15px 15px 15px;
    text-align: justify;
    display: block;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

.box {
    font-family: sans-serif;
    display: block;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    display: flex;
}