* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: white;
}

#headerTitle {
    text-align: center;
    height: auto;
    width: 100%;
    background-color: lightgreen;
}

#header {
    height: auto;
    width: 100%;
    background-color: lightgreen;
}

.link {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

#footer {
    position: relative;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    vertical-align: bottom;
    bottom: 0px;
    left: 0px;
    background-color: lightgreen;
    height: 50px;
}

html {
    position: relative;
}

.introduction {
    font-family: Georgia;
    text-align: center;
    position: relative;
    margin-top: 15px;
}

.question {
    font-weight: bold;
    color: darkolivegreen;
    background-color: honeydew;
    height: 15px;
    text-align: justify;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blocrep {
    block-size: auto;
    background-color: snow;
    color: black;
    text-align: justify;
    text-align-last: center;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.respbutton {
    height: 20px;
    text-align: center;
}