* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: white;
}

#headerTitle {
    text-align: center;
    height: auto;
    width: 100%;
    background-color: lightgreen;
}

#header {
    height: auto;
    width: 100%;
    background-color: lightgreen;
}

.link {
    text-decoration: none;
    color: black;
    margin-left: 1rem;
}

#footer {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    vertical-align: bottom;
    bottom: 0px;
    left: 0px;
    background-color: lightgreen;
    height: 50px;
}

html {
    font-family: Georgia;
    text-align: center;
    position: relative;
    margin-left: auto;
}